@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .wrapper {
    justify-content: center;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}

.btn {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 140, 255);
  padding: 1rem 2rem;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: rgb(2, 122, 221);
}
