/* main.css */

/* Poppins: 400, 500 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Variables */
:root {
  --black: #080809;
  --white: #ffffff;
  --text-2: #84829a;
  --grey: #eeeeee;
  --radius: 2.4rem;
}

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  line-height: 150%;
  background-color: var(--grey);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

/* Container */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Container ends */

/* Card */
.card {
  padding: 2.5rem 2rem;
  background-color: var(--white);
  border-radius: var(--radius);
  width: 100%;
  max-width: 50rem;
  margin: 4rem;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 2.4rem;
}

.card__title {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 124.5%;
  margin-bottom: 1.3rem;
}

.card__content {
  color: var(--text-2);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124.5%;
  letter-spacing: -0.08px;
  margin-bottom: 1.8rem;
}

.card__actions {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

/* Customzie the action buttons */
.card__actions-btn {
  background-color: #f5f5f5;
  padding: 1.1rem;
  border-radius: 50%;
  margin-bottom: 1.8rem;
}

.card__stats {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--text-2);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124.5%;
  letter-spacing: -0.32px;
}
